<form class="form-horizontal" action="account.php?login=1" method="POST">        
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Эл.почта</label>
    <div class="col-sm-10">
      <input name="email" type="email" class="form-control" id="email" placeholder="Эл.почта" required>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Пароль</label>
    <div class="col-sm-10">
      <input name="password" type="password" class="form-control" id="password" placeholder="Пароль" required>
    </div>
  </div>
  <div class="form-group">
      <label for="userem" class="col-sm-2 control-label">&nbsp;</label>
    <div class="col-sm-10 checkbox">
        <label><input type="checkbox" name="userem" checked>Запомнить меня</label>        
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Войти</button>
    </div>
  </div>
        <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a href="?registration=1">Регистрация</a>
      <br>
      <a href="?reminder=1">Напомнить пароль</a>
    </div>
  </div>
</form>