<p>Здравствуйте!</p>
<p>Для изменения пароля своей учетной записи перейдите по ссылке:</p>
<p><a href="http://%domain%/account.php?reminder=1&hash=%hash%">Изменить пароль учетной записи</a></p>
<p>Если Вы не хотите менять пароль, просто удалите это письмо.</p>