<h3>Ввод нового пароля</h3>
<form class="form-horizontal" action="account.php?reminder=1&hash=%hash%" method="POST">
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Пароль</label>
            <div class="col-sm-10">
        <input name="password" type="password" class="form-control" id="password" placeholder="Пароль" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </div>
</form>