<h3>Регистрация</h3>
    <form class="form-horizontal" action="account.php?registration=1" method="POST">
                <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Имя</label>
    <div class="col-sm-10">
      <input name="name" type="text" class="form-control" id="name" placeholder="Имя" required>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Эл.почта</label>
    <div class="col-sm-10">
      <input name="email" type="email" class="form-control" id="email" placeholder="Эл.почта" required>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Пароль</label>
    <div class="col-sm-10">
      <input name="password" type="password" class="form-control" id="password" placeholder="Пароль" required>
    </div>
  </div>
  <div class="form-group">
    <label for="captcha" class="col-sm-2 control-label">Код</label>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-4">
                <img src="captcha.php">
            </div>
            <div class="col-xs-8">
                <input type="number" class="form-control" placeholder="Код" required name="captcha" id="captcha">
            </div>
            </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </div>
    <br>
</form>