<h3>Напомнить пароль</h3>
    <form class="form-horizontal" action="account.php?reminder=1" method="POST">
        <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Эл.почта</label>
    <div class="col-sm-10">
      <input name="email" type="email" class="form-control" id="email" placeholder="Эл.почта" required>
      <p class="help-block">Введите адрес эл.почты, указанный при регистрации.</p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </div>
</form>    